slippi-com*.txt
*.mp4
*.audio
*.video
*.slp
*.iso
*.exe
.idea/
installed
FM-v*
slippi-r18-playback*
ffmpeg*

__pycache__

# Unneeded User/ directories
User/Dump
User/Config/Profiles
User/Shaders
User/Cache
User/GC
User/Load
User/Logs
User/Maps
User/ScreenShots
User/Shaders
User/StateSaves
User/Themes
User/Wii
